.teaser_holder {
	transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6 ease-in-out;
	-webkit-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	opacity: 1;
	position: relative;
}

.max-lines {
    display: block; /* or inline-block */
    text-overflow: ellipsis;
    word-wrap: break-word;
    overflow: hidden;
    max-height: 2.8em;
    line-height: 1.4em;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2; /* number of lines to show */
}

.word-break {
    overflow-wrap: break-word;
}

.teaser_holder:hover {
	opacity: 0.85;
}

.teaser_holder:hover .card-label {
	display: none;
}
.card-label {
    background: #E8E8E8 none repeat scroll 0 0;
    border-radius: 2px;
    bottom: 5px;
    color: black;
    font-size: 11px;
    font-weight: 500;
    opacity: 0.7;
    padding: 0 6px;
    position: absolute;
    right: 5px;
}
.card-label-views {
    left: 5px;
    width: fit-content;
    width: -moz-fit-content;
}

.video-card-list {
    background: transparent none repeat scroll 0 0;
    box-shadow: none;
    display: inline-block;
    margin-bottom: 1rem;
    width: 100%;
}
.video-card-list .video-card-body .video-title a {
    font-size: 13px;
}
.video-card-list .video-card-body .video-title {
    line-height: 17px;
}
.video-card-list .video-card-body .right-action {
    opacity: 0;
}
.video-card-list:hover .video-card-body .right-action {
    opacity: unset;
}
.video-card-list .video-card-body {
    padding: 0;
}
.video-card-list .video-card-image {
    float: left;
    height: 77px;
    margin: 0 12px 0 0;
    width: 122px;
}
.video-card-list .video-card-body .video-title {
    line-height: 17px;
}
.video-page {
    font-size: 11px;
}
.video-card-image {
    border-radius: 2px;
    box-shadow: 0 0 11px #ececec;
    overflow: hidden;
    position: relative;
}

.video-card-list {
    background: transparent none repeat scroll 0 0;
    box-shadow: none;
    display: inline-block;
    margin-bottom: 1rem;
    width: 100%;
}
.img-fluid {
    width: 100%;
}
.video-view {
    color: #acacac;
    font-size: 10px;
    font-weight: 500;
    margin: 2px 0 0;
}
.video-title a {
    color: #000;
    font-weight: 600;
    text-decoration: none;
}
.community-card {
    background: #fff none repeat scroll 0 0;
    border-radius: 2px;
    box-shadow: 0 0 11px #ececec;
    padding: 5px 12px;
    position: relative;
    text-align: center;
    transition-duration: 0.4s;
}
.channels-card {
    background: #fff none repeat scroll 0 0;
    border-radius: 2px;
    box-shadow: 0 0 11px #ececec;
    padding: 24px 12px;
    position: relative;
    text-align: center;
    transition-duration: 0.4s;
}
.channels-card::after {
    background: #dcdcdc none repeat scroll 0 0;
    border-radius: 0 0 5px 6px;
    bottom: -4px;
    content: "";
    height: 7px;
    left: 15px;
    position: absolute;
    right: 15px;
    z-index: -1;
}
.channels-card-image img {
    background: #fff none repeat scroll 0 0;
    border-radius: 50px;
    box-shadow: 0 0 2px #ccc;
    height: 80px;
    margin: 1px 0 8px;
    object-fit: scale-down;
    transform: scale(1);
    width: 80px;
}
.channels-card-score {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 14px;
}
.channels-card-rank {
    position: absolute;
    top: 15px;
    left: 15px;
    font-size: 14px;
}
.badge {
    display: inline-block;
    padding: 0.25em 0.4em;
    font-size: 75%;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    white-space: nowrap;
    vertical-align: baseline;
    border-radius: 0.25rem;
}
/*
 Primary
*/
body {
    min-height: 100vh;
    background-color: #EFF4F5;
}
.header_sec {
    background-color: #E8E8E8;
}
.content_home {
    padding: 15px;
}
@media (min-width: 768px) {
    body {
        padding-top: 0;
        margin-left: 232px;
    }
}