.box {
    padding: 15px;
    background: #fff none repeat scroll 0 0;
    border-radius: 2px;
    box-shadow: 0 0 11px #ececec;
    transition-duration: 0.4s;
}
.float-left {
    float: left !important;
}
.float-right {
    float: right !important;
}
